.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div-icons-banner {
    display: flex;
}