.footer {
    bottom: 0;
    left: 0;  
    right: 0;
    
    background-color: var(--clr-yellow);
    padding-bottom: 1rem;
    text-align: center;
}

.reseauxsociaux {
    display: flex;
    justify-content: center;
}

.reseauxsociaux a{
    padding: 1rem 1rem;
}

.footer p {
    font-size: 1rem;
    color: var(--clr-brown);
    font-weight: 800;
}

@media screen and (min-width: 500px) {
    footer {
        position: fixed;
    }
  }