.chip {
    background-color: var(--clr-blue);
    color: var(--clr-white);
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    width: fit-content;
    text-transform: capitalize;
    margin-bottom: 1rem;
  } 